<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="enableSimpleMembership" value="true" />
    <add key="webPages:Version" value="2.0" />
  </appSettings>
  <system.web>
        <customErrors mode="Off"/>
    </system.web>
<connectionStrings>
<add name="pmis" providerName="System.Data.SqlClient" connectionString="Server=tcp:pmisjb.database.windows.net,1433;Initial Catalog=pmis;Persist Security Info=False;User ID=pmis_user;Password=u%Wb1YJjLjh#tr8m;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>
