<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="enableSimpleMembership" value="true" />
    <add key="webPages:Version" value="2.0" />
  </appSettings>
  <system.web>
        <customErrors mode="Off"/>
    </system.web>
<connectionStrings>
<add name="pmis" providerName="System.Data.SqlClient" connectionString="Server=tcp:69.10.40.154;Initial Catalog=projectmis;Persist Security Info=False;User ID=projectm;Password=Mag1Gie_;Min Pool Size=0;Max Pool Size=300;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
</connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>
