@{Layout = "_Layout.cshtml";}

<div class="container">
    <div class="pmis-detail-page-heading">
        <h3 class="pmis-detail-page-title">Add New Program</h3>
    </div>
    <form method="post" action="programs?id=@Request.QueryString["id"]" data-parsley-validate>
        <div class="form-group row">
            <label class="col-form-label" for="pname">Name</label>
            <input class="form-control" type="text" name="pname" id="pname" autofocus required data-parsley-required />
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit" name="SaveType" value="Add" title="Save"><i class="fas fa-save"></i></button>
        </div>
    </form>
</div>