@{Layout = "_Layout.cshtml";}

<div class="container">
    <div class="pmis-detail-page-heading">
        <h3 class="pmis-detail-page-title">Add New Control Account</h3>
    </div>
    <form method="post" action="control-accounts?id=@Request.QueryString["id"]" data-parsley-validate>
        <div class="form-group row">
            <label class="col-form-label" for="aname">Name</label>
            <input class="form-control" type="text" name="aname" id="aname" autofocus required data-parsley-required />
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-12" for="desc">Description</label>
            <textarea class="summernote" name="desc" id="desc"></textarea>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit" name="SaveType" value="Add" title="Save"><i class="fas fa-save"></i></button>
        </div>
    </form>
</div>