@{Layout = "_Layout.cshtml";}

@{
    var db = Database.Open("pmis");
    string selectQueryString = "select id, program_name from programs where id=@0";
    var row = db.QuerySingle(selectQueryString, Request.Form["pid"]);
}
<div class="container">
    <div class="pmis-detail-page-heading">
        <h3 class="pmis-detail-page-title">Edit Program</h3>
    </div>
    <form method="post" action="programs?id=@Request.QueryString["id"]" data-parsley-validate>
        <div class="form-group row">
            <label class="col-form-label" for="pname">Name</label>
            <input class="form-control" type="text" name="pname" id="pname" autofocus value="@row.program_name" required data-parsley-required />
        </div>
        <div class="form-group row">
            <input type="hidden" name="pid" value="@row.id" />
            <button class="btn btn-primary" type="submit" name="SaveType" value="Edit" title="Save"><i class="fas fa-save"></i></button>
        </div>
    </form>
</div>