@{Layout = "_Layout.cshtml";}

@{
    bool success = false;
    if (Request.Form["new-password"] == Request.Form["confirm"])
    {
        success = WebSecurity.ResetPassword(Request.Form["token"], Request.Form["new-password"]);
    }
}
<div class="container">
    @if (!success)
    {
        <div class="alert alert-warning" role="alert"><strong>An error occurred. The password was not changed.</strong></div>
    }
    else
    {
        <div class="alert alert-success" role="alert"><strong>Password changed.</strong></div>
    }
</div>